article {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    & .details {
        padding: 0 1rem .5rem 1rem;
        display: flex;
        flex-direction: column;
        flex: 3;
    }

    & .articleContainer {
        display: flex;
        flex-direction: row;
        margin: 5px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;
    }

    & .image {
        width: 200px;
        height: 200px;
        display: flex;
        flex: 1;
    }

    & img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        display: inline-block;
    }

    & h3 {
        font-size: 1.7rem;
        margin-bottom: 10px;
    }

    & .date {
        margin-right: 25px;
    }

}

h2 {
        font-size: 3rem;
    }

.abstract {
    margin-top: 10px;
}

.readMore {
    font-size:1.1rem;
    text-transform: uppercase;
    border: 1px solid $black;
    padding: 10px 15px;
    margin-top: 10px;
    display: inline-block;
    transition: all .3s ease; 
}

.readMore:hover{
        color: $grey;
        border: 1px solid $grey;
        box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.51);
    }

.hoverEffect{ 
transition: all .3s ease; 
}

.hoverEffect:hover { 
transform: scale(1.1); 
box-shadow: 4px 10px 12px 1px rgba(0,0,0,0.51);
margin: 20px;
}

.searchQuery {
    & h2{
        font-size: 2.5rem;
        margin: 1rem 0;
        text-decoration: underline;
    } 
}

.articleContainer {
    flex-wrap: wrap;

    & .image {
        min-width: 150px;
    }
    & .details {
        min-width: 400px;
    }
}

