article {
    display: flex;
    flex-direction: column;
}

.articleContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid $color-primary;
    // Text section of the acticles
    & .details {
        padding: 0 1rem .5rem 1rem;
        display: flex;
        flex-direction: column;
        flex: 3 1 70%;
        & .abstract {
            margin-top: 10px;
        }
        & .readMore {
            font-size:1.1rem;
            text-transform: uppercase;
            border: 1px solid $color-primary;
            padding: 10px 15px;
            margin-top: 10px;
            display: inline-block;
            transition: all .3s ease; 
        }
        & .readMore:hover{
            color: $color-primary;
            border: 1px solid $color-primary;
        }
        & .grey {
            color: $grey;
            & .date {
            margin-right: 25px;
        }
        }
        & h3 {
            font-size: 1.7rem;
            margin-bottom: 10px;
        }
    }
    // Images for the articles
    & .image {
        min-width: 175px;
        width: 200px;
        display: flex;
        flex: 1 1 30%;
        & img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            display: inline-block;
        }
    }
}


.hoverEffect{ 
transition: all .3s ease; 
}

.hoverEffect:hover { 
transform: scale(1.1); 
box-shadow: 4px 10px 12px 1px rgba(0,0,0,0.51);
margin: 20px 0;
}

.searchQuery {
    & h2{
        font-size: 2.5rem;
        margin: 1rem 0;
        text-decoration: underline;
    } 
}


// Media Queries
@media (max-width: 822px) {
    .articleContainer {
        & .details {
            padding: 1rem 1rem 0;
        }
    }
    .hoverEffect:hover { 
        transform: scale(1); 
    }
}
