// Variables
$white: #FFF7FA;
$grey:  #5b5555;
$color-primary: rgb(58, 58, 58);
$color-secondary-yellow:rgb(255, 196, 45);
$color-secondary-blue:rgb(5, 191, 238);

// General App styles
* {
    transition: all 1s ease;
}

body {
    font-size: 125%;
}

a {
    text-decoration: none;
    color: inherit;
}

//------------------------------------------------------
// Media queries
@media (max-width: 760px){
    body {
        font-size: 100%;
    }
}