// Variables
$white: #FFF7FA;
$grey:  #5b5555;
$color-primary: rgb(58, 58, 58);
$color-secondary-yellow:rgb(245, 186, 39);
$color-secondary-blue:rgb(10, 164, 202);


* {
    transition: all 1s ease;
}

body {
    font-size: 125%;
}

a {
    text-decoration: none;
    color: inherit;
}


// Media queries
@media (max-width: 760px){
    body {
        font-size: 100%;
    }
}