$white: #FFF7FA;
$black: #0A0606;
$grey: #3A3E3B;
// $color-primary: #0A2463;
// $color-secondary: #3E92CC;


$color-secondary:#FE4A49;


* {
    transition: all 1s ease;
}

body {
    font-size: 125%;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 760px){
    body {
        font-size: 100%;
    }
}