.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

.closedHeader {
    height: 90vh;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 2rem 0;
    background: $color-primary;
    height: 350px;
    color: $white;

    & .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        & h1 {
            font-size: 4rem;
            font-weight: 800;
            margin-bottom: 3rem;
            color: rgb(245, 186, 39);
            display: inline-block;
            padding-bottom: 8px;
            position: relative;
        }

        & h1:before{
            content: "";
            position: absolute;
            width: 70%;
            height: 1px;
            bottom: 0;
            left: 30%;
            border-bottom: 5px solid $color-secondary-blue;
        }
    }

    // Form Input
    & form {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    & input, select {
    width: 100%;
    height: 3rem;
    border-color: $grey;
    border-radius: .25rem;
    margin-bottom: .5rem;
    text-align: center;
    background-color: $white;
}

}

// Weather Section
.weather {
    position: absolute;
    top: 1rem;
    right: 0;

    & h3 {
        font-size: 1.75rem;
    }
    & p {
        font-size: 1.4rem;
    }
}

.weatherImage {
        width: 5rem;
}


// Footer
footer {
    background: $color-primary;
    color: $color-secondary-yellow;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    border-top: 2px solid $color-secondary-blue;

    & p {
        font-size: 1.3rem;
    }
}

// Media Queries
@media (max-width: 760px){
    header {
    height: 400px;
        & form {
            width: 90%;
        }
        & input, select {
            width: 100%;
            height: 2rem;
        }

        & .header {
            & h1 {
                font-size: 3.1rem;
            }
        }
    }
    
    .weather {
        text-align: center;
        position: relative;

        & h3 {
            font-size: 1.3rem;
        }
        & p {
            font-size: 1rem;
        }
    }

    .weatherImage {
        width: 3.5rem;
    }

    footer {
        & p {
            font-size: 1rem;
        }
    }
}