.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

.closedHeader {
    height: 90vh;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 2rem 0;
    background: $color-secondary;
    height: 40vh;
    color: $white;

    & .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        & h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    // Form Input
    & form {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    & input, select {
    width: 100%;
    height: 3rem;
    border-color: $grey;
    border-radius: .25rem;
    margin-bottom: .5rem;
    text-align: center;
    background-color: $white;
}

}

// Weather Section
.weather {
    position: absolute;
    top: 0;
    right: 0;

    & h3 {
        font-size: 2rem;
    }
    & p {
        font-size: 1.5rem;
    }
}

.weatherImage {
        width: 5rem;
}


// Footer
footer {
    background: $color-secondary;
    color: $white;
    text-align: center;
    padding: .5rem;
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;


    & p {
        font-size: 1.3rem;
    }
}



@media (max-width: 760px){
    header 
    & form {
        width: 90%;
    }
    & input, select {
        width: 100%;
        height: 2rem;
    }
}