.wrapper {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
}

header {
    height: 30vh;
    display: flex;
    justify-content: center;

    & .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

         & h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }

    & form {
        display: flex;
        flex-direction: column;
    }

}

.filter {
        width: 230px;
    }

.grey {
    color: $grey;
}

.weatherImage {
        width: 5rem;
}

footer {
    background: $grey;
    color: $white;
    text-align: center;
}