a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.skip-link {
  color: black;
  background: white;
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
}

.skip-link:focus {
  left: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

body {
  font-size: 125%;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 760px) {
  body {
    font-size: 100%;
  }
}

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

.closedHeader {
  height: 90vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem 0;
  background: #3a3a3a;
  height: 350px;
  color: #FFF7FA;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .header h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 3rem;
  color: #f5ba27;
  display: inline-block;
  padding-bottom: 8px;
  position: relative;
}

header .header h1:before {
  content: "";
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: 0;
  left: 30%;
  border-bottom: 5px solid #0aa4ca;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

header input, header select {
  width: 100%;
  height: 3rem;
  border-color: #5b5555;
  border-radius: .25rem;
  margin-bottom: .5rem;
  text-align: center;
  background-color: #FFF7FA;
}

.weather {
  position: absolute;
  top: 1rem;
  right: 0;
}

.weather h3 {
  font-size: 1.75rem;
}

.weather p {
  font-size: 1.4rem;
}

.weatherImage {
  width: 5rem;
}

footer {
  background: #3a3a3a;
  color: #f5ba27;
  text-align: center;
  padding: 1rem;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
  border-top: 2px solid #0aa4ca;
}

footer p {
  font-size: 1.3rem;
}

@media (max-width: 760px) {
  header {
    height: 400px;
  }
  header form {
    width: 90%;
  }
  header input, header select {
    width: 100%;
    height: 2rem;
  }
  header .header h1 {
    font-size: 3.1rem;
  }
  .weather {
    text-align: center;
    position: relative;
  }
  .weather h3 {
    font-size: 1.3rem;
  }
  .weather p {
    font-size: 1rem;
  }
  .weatherImage {
    width: 3.5rem;
  }
  footer p {
    font-size: 1rem;
  }
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.articleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3a3a3a;
}

.articleContainer .details {
  padding: 0 1rem .5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 70%;
          flex: 3 1 70%;
}

.articleContainer .details .abstract {
  margin-top: 10px;
}

.articleContainer .details .readMore {
  font-size: 1.1rem;
  text-transform: uppercase;
  border: 1px solid #3a3a3a;
  padding: 10px 15px;
  margin-top: 10px;
  display: inline-block;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.articleContainer .details .readMore:hover {
  color: #3a3a3a;
  border: 1px solid #3a3a3a;
}

.articleContainer .details .grey {
  color: #5b5555;
}

.articleContainer .details .grey .date {
  margin-right: 25px;
}

.articleContainer .details h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.articleContainer .image {
  min-width: 175px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.articleContainer .image img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: inline-block;
}

.hoverEffect {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.hoverEffect:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 4px 10px 12px 1px rgba(0, 0, 0, 0.51);
          box-shadow: 4px 10px 12px 1px rgba(0, 0, 0, 0.51);
  margin: 20px 0;
}

.searchQuery h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
  text-decoration: underline;
}

@media (max-width: 822px) {
  .articleContainer .details {
    padding: 1rem 1rem 0;
  }
  .hoverEffect:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
